# generated on runs
cellprofiler_path.txt
*.log
__pycache__
cellpyability_output/ 

# Python packaging
*.egg-info/
dist/
build/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
.DS_Store
.matplotlib_cache/
.vscode/
